// Colors
$title-background-color: #191248;
$margin-background-color: #f2c58a;
$card-background-color: #fbe3c9;
$site-background-color: #ffffff;

$border-color: $title-background-color;

$font-color-light: $card-background-color;
$font-color-mid: $margin-background-color;
$font-color-dark: $title-background-color;
$font-color-compass-navy: #191248;

// App Dimensions
$app-max-width: 980px;
$app-phone-width: 600px;
$app-min-width: 320px;

// 1 brown          803909
// 2 Carrot Orange  ef9622
// 3 Manhattan      f2c58a
// 4 Champagne      fbe3c9
// 5 Spun Pearl     adaabf
// 6 Prelude        CCC8E4