<h2>Our Services</h2>

<div class="our-services-container">

    <div class="our-services-left-column">

        <div class="ui-card">Compass Christian Counseling offers individual, family, couples, and group therapy for adults, teens and children dealing with the following issues:</div>
      
        <div class="ui-card">
            <p>Addictions</p>
            <p>Depression</p>
            <p>Stress and Anxiety</p>
            <p>Phobias</p>
            <p>Grief and Loss</p>
            <p>Emotional and Physical Abuse</p>
            <p>Trauma and Sexual Assault</p>
            <p>ADHD</p>
            <p>Eating Disorders</p>
            <p>Obsessive Compulsive Disorder</p>
            <p>PTSD</p>
            <p>Premarital Counseling</p>
            <p>Communication Issues</p>
            <p>Blending Families</p>
            <p>Living with Medical Conditions</p>
            <p>Codependency and Boundaries</p>
            <p>Anger Management</p>
            <p>Parenting Stress</p>
            <p>Self Esteem and Self-Confidence Issues</p>
            <p>School and Homework Difficulties</p>
            <p>Behavioral Problems in Children</p>
        </div>
    
    </div>

    <div class="our-services-images">
        <div>
            <img src="/assets/site-images/OurServicesTop.jpg" />
            <img src="/assets/site-images/OurServicesMiddle.png" />
            <img src="/assets/site-images/OurServicesBottom.jpg" />
        </div>
    </div>

    <div class="our-services-right-column">
    
        <div class="ui-card">
            <div class="ui-card-title">INDIVIDUAL COUNSELING</div>
            <div class="ui-card-body">Each individual is unique, with their own experiences, interpretations, and beliefs.  A variety of circumstances can keep us from experiencing freedom and enjoyment of life.  We want to carefully collaborate with you to build hope and purpose in your heart, your life and your relationships, restoring freedom and enjoyment.</div>
        </div>

        <div class="ui-card">
            <div class="ui-card-title">COUPLES COUNSELING</div>
            <div class="ui-card-body">Arguments, disagreements, loneliness, and hurt&hellip; there is nothing more joyful when our primary relationships are working well, and nothing more painful when they are not!   In couples therapy our focus will be to understand what is going on, particularly as it relates to the patterns that exist in the relationship and then, we'll work to de-escalate negative cycles and introduce new patterns of relating to one another.</div>
        </div>

        <div class="ui-card">
            <div class="ui-card-title">FAMILY COUNSELING</div>
            <div class="ui-card-body">In Family Therapy, the family is seen as a "whole" system, rather than just as the sum of its individual members.  Including various members of the family can be beneficial to a wide variety of therapeutic goals including education or insight into family dynamics.  Family therapy helps promote greater encouragement and support among all members of the family.</div>
        </div>

        <div class="ui-card">
            <div class="ui-card-title">GROUP COUNSELING</div>
            <div class="ui-card-body">Group therapy happens when people from all different walks of life come together with a common focus.  Group therapy offers several benefits&hellip; by listening carefully to others and their experiences you can experience new insights and find out that you are not alone in your struggles.</div>
        </div>
    
    </div>
</div>
