<div class="home-page-container">

    <div class="home-page-rotator">
        <p class="rotator-text">Sometimes you just need a little help along the way</p>
        <div id="rotator-item-1" class="rotator-item" [ngClass] = "{active: this.rotatorImageIndex === 1}" style="background-image: url(/assets/slider-images/slider-image-1.jpg);"></div>
        <div id="rotator-item-2" class="rotator-item" [ngClass] = "{active: this.rotatorImageIndex === 2}" style="background-image: url(/assets/slider-images/slider-image-2.jpg);"></div>
        <div id="rotator-item-3" class="rotator-item" [ngClass] = "{active: this.rotatorImageIndex === 3}" style="background-image: url(/assets/slider-images/slider-image-3.jpg);"></div>
        <div id="rotator-item-4" class="rotator-item" [ngClass] = "{active: this.rotatorImageIndex === 4}" style="background-image: url(/assets/slider-images/slider-image-4.jpg);"></div>
        <div id="rotator-item-5" class="rotator-item" [ngClass] = "{active: this.rotatorImageIndex === 5}" style="background-image: url(/assets/slider-images/slider-image-5.jpg);"></div>
    </div>

    <div class="home-page-content">
        <div class="content-row row-1">
            <div class="text">
                <div class="home-page-text-box">
                    <p class="intro">
                        At Compass Christian Counseling our goal is to provide a safe and supportive place for
                        individuals, couples, and families to find hope and healing. You might be looking for
                        extra support and guidance through a challenging situation or are ready to take steps in
                        a new direction. The first thing we'll do is listen without judgment. Then, we'll walk
                        alongside of you on your journey. Together we will create solutions and new possibilities
                        that will help you reach your goals. We all have a unique path we take through life… and
                        sometimes we just need a little help along the way.
                    </p>
                </div>
            </div>
        </div>

        <div class="content-row row-2">
            <div class="image" style="background-image: url(/assets/site-images/home-image-1.webp);"></div>
            <div class="text">
                <div class="home-page-text-box">
                    <h2><a href="/meet-us">Meet Us</a></h2>
                    <p>
                        Meet our compassionate team of counselors at Compass Christian Counseling, each dedicated
                        to guiding you through life's challenges. Whether facing personal struggles, relationship
                        issues, or family dynamics, our therapists provide a nurturing environment designed to
                        foster healing and growth. Let us walk with you towards finding peace, understanding, and
                        renewed hope.
                    </p>
                </div>
            </div>
        </div>

        <div class="content-row row-3">
            <div class="text">
                <div class="home-page-text-box">
                    <h2><a href="/our-services">Our Services</a></h2>
                    <p>
                        At Compass Christian Counseling, we offer a comprehensive range of services including
                        individual, couples, family, and group therapy. Our experienced counselors are equipped
                        to address a variety of issues such as depression, anxiety, trauma, and more. Whether
                        you're seeking support for personal challenges or looking to strengthen relationships,
                        we're here to provide the guidance and tools you need to thrive.
                    </p>
                </div>
            </div>
            <div class="image" style="background-image: url(/assets/site-images/home-image-2.webp)"></div>
        </div>

        <div class="content-row row-4">
            <div class="image" style="background-image: url(/assets/site-images/home-image-4.webp);"></div>
            <div class="text">
                <div class="home-page-text-box">
                    <h2><a href="/faq">FAQ</a></h2>
                    <p>
                        Explore our Frequently Asked Questions page where we provide clear and helpful answers
                        to common queries about counseling costs, insurance coverage, the benefits of private
                        pay, session lengths, our therapeutic approach, and much more. This resource is designed
                        to ease your concerns, clarify the counseling process, and help you understand how Compass
                        Christian Counseling can support you on your journey to wellness.
                    </p>
                </div>
            </div>
        </div>

        <div class="content-row row-3">
            <div class="text">
                <div class="home-page-text-box">
                    <h2><a href="/resources">Resources</a></h2>
                    <p>
                        Visit our Resources page for essential support tools and information, including suicide and
                        sexual assault hotline numbers, quick self-assessment forms for addiction, depression, and
                        eating disorders, and a curated list of recommended books addressing various life issues.
                        This page is designed to provide immediate help and ongoing support for anyone needing
                        assistance or seeking to deepen their understanding of personal challenges.
                    </p>
                </div>
            </div>
            <div class="image" style="background-image: url(/assets/site-images/home-image-5.webp)"></div>
        </div>

        <div class="content-row row-2">
            <div class="image" style="background-image: url(/assets/site-images/home-image-6.webp);"></div>
            <div class="text">
                <div class="home-page-text-box">
                    <h2><a href="/contact-us">Contact Us</a></h2>
                    <p>
                        The Contact Us page of Compass Christian Counseling offers various ways to reach us,
                        including phone numbers, email addresses, and direct links to our appointment scheduling
                        tools. Additionally, you'll find a detailed map to our office, ensuring you can locate us
                        easily for your appointments. This page is your gateway to connecting with our supportive
                        team and starting your journey toward healing.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>