@import '../../../../sass/variables';

.contact-counselor-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

    img, div {
        margin-bottom: 12px;
    }

    .contact-counselor-card-info {
        width: 250px;

        .contact-counselor-card-name {
            font-size: 1.2em;
            font-style: italic;
        }
    
        .contact-counselor-card-phone {
            font-weight: bold;
        }
    
        .contact-counselor-card-appt-button {
            background-color: $ultra-pure-white;
            border: 1px outset;
            border-color: $background-color-title;
            border-radius: 3px;
            color: $font-color-dark;
            display: block;
            font-weight: bold;
            line-height: 1.2em;
            padding-bottom: 5px;
            padding-top: 5px;
            text-align: center;
            text-decoration: none;
            width: auto;
        }
    }
}