<h2>Newsletter Archives</h2>

<div class="newsletters-container">
    <p>
        Compass Christian Counseling Newsletters are published on a quarterly basis.
        Check through our archives for helpful hints on a variety of topics
        including coping strategies for stress, relationship skills, and mental and
        emotional well-being.
    </p>

    <div class="latest-newsletter ui-card">
        <img src="{{ getNewsletterImageUrl(latestNewsletter) }}" alt="{{ getNewsletterAltText(latestNewsletter) }}" target="_blank" (click)="handleClick(latestNewsletter)" />
    </div>

    <div *ngIf="newsletterList && newsletterList.length > 0" class="newsletters">
        <div class="ui-card" *ngFor="let newsletter of newsletterList">
            <img src="{{ getNewsletterImageUrl(newsletter) }}" alt="{{ getNewsletterAltText(newsletter) }}" target="_blank" (click)="handleClick(newsletter)" />
        </div>
    </div>
</div>

