@use '../../../sass/variables' as v;

.newsletters-container {    
    margin: 0 auto;
    padding: 0 8px;
    max-width: v.$app-max-width;

    .latest-newsletter {
        cursor: pointer;
        margin: 12px auto 32px auto;
        text-align: center;
        width: 288px;
    }
    .newsletters {      
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;  
        justify-content: space-evenly;
        img {
            cursor: pointer;
            height: 266px;
            width: 280px;
            margin: 4px;
        }
    }
}