<h2>Getting Started</h2>

<div class="getting-started-container">
    <div class="getting-started-left-column">
        <a class="getting-started-button" routerLink="/contact-us">Make An Appointment</a>
        <a
            class="getting-started-button"
            (click)="openPdf('/assets/pdf/CompassRegistrationClient.pdf')"
            >Client Registration Form</a
        >
        <a
            class="getting-started-button"
            (click)="openPdf('/assets/pdf/CompassRegistrationCouple.pdf')"
            >Couples Registration Form</a
        >
        <img src="/assets/site-images/gettingstarted_seating_blue.jpg" />
    </div>

    <div class="getting-started-right-column">
        <div class="ui-card">
            <div class="ui-card-title">Making an appointment</div>
            <div class="ui-card-body">
                At Compass Christian Counseling most of our clients love to use our on-line system
                to make appointments! Just click on the Appointment buttons throughout our website
                to set up a client record with us and pick a session time that is convenient for
                you. Once you have your password, you can access our scheduling system anytime in
                the day or night and make changes or add new appointments.
            </div>
        </div>

        <div class="ui-card">
            <div class="ui-card-title">The First Session & Forms</div>
            <div class="ui-card-body">
                If you have registered online with one of our counselors, new client forms are
                available online. If you are unable to access the online forms, please please print
                out the New Client Registration Form by clicking on the button on the left. Please
                fill out this form prior to meeting with your counselor in order to better prepare
                you for your time together. If you are coming in for a Couples Session, please also
                complete the short couples form. If you don't have a chance to complete the
                registration forms, we'll take a few minutes at the beginning of your session to get
                that taken care of.
            </div>
        </div>

        <div class="ui-card">
            <div class="ui-card-title">Counseling Fees</div>
            <div class="ui-card-body">
                The fee for an individual session is $110, and the fee for a couples/family session
                is $140. Each session lasts 50 minutes. The fee for each session will be due and
                must be paid at the conclusion of each session unless otherwise arranged. Cash,
                personal checks, credit/debit cards, and health savings cards are acceptable for
                payment.
            </div>
        </div>

        <div class="ui-card">
            <div class="ui-card-title">Cancellations</div>
            <div class="ui-card-body">
                When you schedule an appointment time, that time is specifically reserved for you.
                If unable to keep an appointment, notification by phone 24 hours before your
                scheduled time is required. You will be charged the full fee for any missed
                appointments without 24 hour notice.
            </div>
        </div>
    </div>
</div>
