@use '../../../sass/variables' as v;

.faq-container {
    margin: 0 auto;
    padding: 0 8px;
    max-width: v.$app-max-width;

    h3 {
        color: v.$font-color-dark;
        font-style: italic;
        font-weight: bold;
        line-height: 22px;
        margin-bottom: 3px;
    }

    p {
        margin-bottom: 18px;
    }

    ul {
        margin-top: 0;
    }
}
