@import '../../../sass/variables';

.faq-container {
    margin: 0 auto;
    padding: 0 8px;
    max-width: $app-max-width;

    h3 {
        color: $font-color-dark;
        font-style: italic;
        font-weight: bold;
        line-height: 22px;
        margin-bottom: 3px;
    }

    p {
        margin-bottom: 18px;
    }
      
    ul {
        margin-top: 0;
    }
}