<h2>Resources</h2>

<div class="resources-container">

    <div class="resources-left-column">
        <img src="/assets/site-images/Help.png" alt="Help!" />

        <div class="ui-card resources-crisis-contacts">

            <div class="ui-card-title">Crisis Contacts</div>
            <div class="ui-card-body">
                <dl class="resources-crisis-phone-numbers">
                    <dt>SUICIDE HOTLINE</dt>
                    <dd>1-800-SUICIDE</dd>
                    <dt>Sexual Assault Hotline</dt>
                    <dd>1-800-656-HOPE</dd>
                </dl>
                <div class="resources-immediate-help">For immediate help dial 911 or visit the nearest Hospital Emergency Room</div>
            </div>
        </div>
    </div>

    <div class="resources-center-column">

        <div class="ui-card resourses-quick-self-assessments">
            <div class="ui-card-title">Quick Self-Assessments</div>
            <div class="ui-card-body">
                <a href="/assets/pdf/CompassAddiction.pdf" target="_blank">Am I addicted?</a>
                <a href="/assets/pdf/CompassDepression.pdf" target="_blank">Am I depressed?</a>
                <a href="/assets/pdf/CompassEatingDisorder.pdf" target="_blank">Do I have an eating disorder?</a>
            </div>
        </div>
    
        <div class="ui-card resources-newsletter">
            <div class="ui-card-title">Compass Newsletter</div>
            <div class="ui-card-body">
                <p>
                    You can access our current Compass newsletter as well as some past editions.
                    We hope that the articles written by Compass Christian Counseling staff will
                    be helpful to you. We would love to send you our quarterly newsletter through
                    email if you wish to sign up.
                </p>
                <a routerLink="/newsletters">Compass Newsletter Archives</a>
            </div>
        </div>

    </div>

    <div class="resources-right-column">

        <img src="/assets/site-images/Book.png" />

        <div class="ui-card resources-good-reads">
            <div class="ui-card-title">Good Reads</div>
            <div class="ui-card-body">
                <p>Recommended Books on Life Issues</p>
                <p>
                    <a href="/assets/pdf/GoodReadsEatingDisorders.pdf"          target="_blank">Eating Disorders</a><br />
                    <a href="/assets/pdf/GoodReadsParenting.pdf"                target="_blank">Parenting</a><br />
                    <a href="/assets/pdf/GoodReadsMarriageAndRelationships.pdf" target="_blank">Marriage & Relationships</a><br />
                    <a href="/assets/pdf/GoodReadsAddiction.pdf"                target="_blank">Addiction</a><br />
                    <a href="/assets/pdf/GoodReadsSpiritualLife.pdf"            target="_blank">Spiritual</a>
                </p>
            </div>
        </div>

    </div>

</div>
