@use '../../../../sass/variables' as v;

.counselor-card-container {
    align-items: center;
    background-color: $background-color-card;
    justify-content: space-between;
    margin-bottom: 12px;
    min-height: 500px;
    min-width: 300px;
    max-width: 430px;

    .ui-card-content {
        display: flex;
        flex-direction: row;
    }

    .counselor-card-image {
        border-color: $background-color-card;
        border-radius: 15px;
        border-style: solid;
        border-width: 3px;
        cursor: pointer;
        flex: 0 1 content;
    }

    .counselor-card-right-column {
        padding: 4px;        

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
}
