@import '../../../../sass/variables';

.g-map {
    background-color: $card-background-color;
    height: 550px;
    width: 100%;
    max-width: 465px;
    margin: 0 4px 4px 4px;

}

div.map-container {
    height: 550px;
    max-width: 465px;
}

::ng-deep .map-container {
    height: 550px;
    width: 100%;
    max-width: 465px;
}
