@import '../../../../sass/variables';

#map {
    background-color: $background-color-card;
    border: 0;
    height: 400px;
    width: 404px;
    max-width: 404px;
    margin: 0;
    padding: 0;
}