@import '../../../sass/variables';

.counselor-container {
    justify-content: space-between;
    padding: 4px;

    .counselor-image {
        display: flex;
        flex-direction: column;
        float: left;
        margin: 0 8px 16px 0;
        width: 227px;

        img {
            border-color: $site-background-color;
            border-radius: 15px;
            border-style: solid;
            border-width: 3px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        p {
            margin-top: 5px;
            text-align: center;

            a {
                line-height: 1.2em;
                padding-bottom: 5px;
                padding-top: 5px;
            }
        }
    }

    .counselor-content {
        display: flex;
        flex-direction: column;
        min-width: 250px;
        max-width: 730px;

        div {
            margin-bottom: 12px;

            ul {
                list-style-type: none;
                margin: 6px 0 0 -12px;
                li {
                    margin-bottom: 6px;
                }
            }
        }
    }
}