@use '../../../sass/variables' as v;

.counselor-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0 8px;
    max-width: v.$app-max-width;

    .counselor-image {
        margin: 0 18px 16px 0;
        width: 227px;

        img {
            border-color: v.$background-color-site;
            border-radius: 15px;
            border-style: solid;
            border-width: 3px;
            margin-bottom: 6px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .counselor-appt-button {
            background-color: v.$ultra-pure-white;
            border: 1px outset;
            border-color: v.$background-color-title;
            border-radius: 3px;
            color: v.$font-color-dark;
            display: block;
            font-weight: bold;
            line-height: 1.2em;
            margin-top: 12px;
            padding-bottom: 5px;
            padding-top: 5px;
            text-align: center;
            text-decoration: none;
            width: auto;
        }
    }

    .counselor-content {
        min-width: 250px;
        max-width: 730px;

        div {
            margin-bottom: 12px;

            ul {
                list-style-type: none;
                margin: 6px 0 0 -12px;
                li {
                    margin-bottom: 6px;
                }
            }
        }
    }
}
