@if (counselor) {
  <h2>{{ getFirstName() }} {{ getLastName() }}</h2>
}

@if (counselor) {
  <div class="counselor-container">
    <div class="counselor-image">
      <img src="{{ getImageLink() }}" />
      <div>
        {{ getCounselorName() }}<br />
        <ul>
          @for (title of counselor.titles; track title) {
            <li>{{ title }}</li>
          }
        </ul>
        Compass Christian Counseling
        <a class="counselor-appt-button" href="{{ getAppointmentLink() }}" target="_blank">Make an appointment<br />with {{ getFirstName() }}</a>
      </div>
    </div>
    <div class="counselor-content">
      <div [innerHTML]="getLongDescription()"></div>
      @if (counselor.credentials.length) {
        <div>
          <strong>Educational/Professional</strong>
          <ul>
            @for (credential of counselor.credentials; track credential) {
              <li>{{ credential }}</li>
            }
          </ul>
        </div>
      }
      @if (counselor.memberships.length) {
        <div>
          <strong>Member of:</strong>
          <ul>
            @for (membership of counselor.memberships; track membership) {
              <li>{{ membership }}</li>
            }
          </ul>
        </div>
      }
      @if (counselor.insurance.length) {
        <div>
          <strong>In Network Provider for:</strong>
          <ul>
            @for (insurance of counselor.insurance; track insurance) {
              <li>{{ insurance }}</li>
            }
          </ul>
        </div>
      }
      <div>
        Contact me: <a href="mailto:{{ getEmail() }}" target="_blank">{{ getEmail() }}</a>
      </div>
    </div>
  </div>
}