@import '../../../sass/variables';

$app-navigation-header-height-small-screen: 60px;

$app-navigation-top-menu-height-large-screen: 75px;
$app-navigation-contact-info-height-large-screen: 50px;


.navigation-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $background-color-site;
    margin: 0 auto;
    width: 100%;

    .navigation-header {
        background-color: $background-color-site;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
        max-width: $app-max-width;
        z-index: 1000;

        @media screen and (max-width: $app-width-small-screen) {
            // Small screen
            height: $app-navigation-header-height-small-screen;
            position: fixed;
            width: 100%;
            /* Make sure the toolbar will stay on top of the content as it scrolls past. */
            z-index: 2;
        }
        @media screen and (min-width: $app-width-small-screen) {
            // Large screen
        }

        .navigation-header-small-screen {
            background-color: transparent;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            padding: 0 8px;
            width: 100%;
            min-width: $app-min-width;

            @media screen and (max-width: $app-width-small-screen) {
                // Small screen
            }
            @media screen and (min-width: $app-width-small-screen) {
                // Large screen
                display: none;
            }

            a {
                display: flex;
            }
        }

        .navigation-header-large-screen {
            background-color: transparent;
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            justify-content: space-between;
            padding: 12px;
            width: 100%;
            @media screen and (max-width: $app-width-small-screen) {
                // Small screen
                display: none;
            }
            @media screen and (min-width: $app-width-small-screen) {
                // Large screen
            }
            h1 {
                align-items: center;
                background-color: transparent;
                display: flex;
                margin: 0;
                a {
                    background-color: transparent;
                    border: 0;
                    display: flex;
                    font-size: 0em;
                    margin: 0;
                    padding: 0;
                    text-decoration: underline;
                    text-shadow: none;
                }
            }

            .navigation-header-right {
                background-color: transparent;
                display: flex;
                flex-direction: column;
                flex-grow: 4;

                .navigation-contact-info {
                    background-color: transparent;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    font-size: 20px;
                    line-height: 50px;
                    padding: 0 32px;
                    text-align: center;
                    .navigation-appointment-button {
                        background-color: $background-color-title;
                        color: $font-color-light;
                        cursor: pointer;
                    }
                }

                .navigation-top-menu {
                    align-items: flex-end;
                    background-color: transparent;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    font-weight: bold;
                    height: $app-navigation-top-menu-height-large-screen;
                    justify-content: space-around;
                    padding: 9px 0;
                    @media screen and (max-width: $app-width-small-screen) {
                        // Small screen
                        display: none;
                    }
                    @media screen and (min-width: $app-width-small-screen) {
                        // Large screen
                    }
                    button {
                        box-shadow: none;
                        border: none;
                        background: transparent;
                        color: $font-color-dark;
                        display: flex;
                        font-size: 20px;
                        font-weight: 400;
                        outline: none;
                        padding: 0 4px;
                        text-align: center;
                        white-space: nowrap;
                        &:hover {
                            transition: all 0.3s ease-in-out;
                            // color: $font-color-dark-hightlight;
                            text-shadow: $background-color-card 0 0 3px, #aaaaff 0 0 5px, $background-color-title 0 0 25px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
  
    .navigation-sidenav-container {
        /*  When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
            causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
        background-color: $background-color-site;
        flex: 1;
        .navigation-sidenav {            
            background-color: $background-color-card;
            .navigation-sidenav-list {
                padding: 8px 0 0 0;
                .navigation-sidenav-link {
                    box-sizing: border-box;
                    color: $font-color-dark;
                    display: flex;
                    flex-direction: row;
                    font-size: 20px;
                    font-weight: 700;
                    height: 48px;
                    line-height: 20px;
                    padding: 14px 16px;
                    text-align: left;
                    text-decoration: none;
                }
            }
        }
        .navigation-sidenav-content {
            
            @media screen and (max-width: $app-width-small-screen) {
                // Small screen
                margin-top: $app-navigation-header-height-small-screen;
            }
            @media screen and (min-width: $app-width-small-screen) {
                // Large screen
                margin-top: 0;
            }
        }
    }

    .compass-is-mobile .navigation-sidenav-container {
        /*  When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
            `<body>` to be our scrolling element for mobile layouts. */
        flex: 1 0 auto;
    }

    .navigation-footer {
        align-items: center;
        background-size: contain;
        background-color: transparent;
        background-image: url("/assets/site-images/footer-horizon.jpg");
        background-position: bottom;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 0 0 16px 0;
        width: 100%;
        .navigation-footer-address {
            display: flex;
            flex-direction: column;
            .address {
                font-size: 18px;
                line-height: 30px;
            }
        }
        .navigation-footer-map {
            align-items: center;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: $app-width-small-screen) {
                // Small screen
                width: 100%;
            }
            @media screen and (min-width: $app-width-small-screen) {
                // Large screen
                width: 100%;
                max-width: 465px;
            }
        }
    }
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
::ng-deep .mat-list-item-content {
    font-size: 20px;
    font-weight: 100;

    @media screen and (max-width: $app-width-small-screen) {
        // Small screen
        color: $font-color-dark;
        font-weight: bold;
    }
    @media screen and (min-width: $app-width-small-screen) {
        // Large screen
        color: $font-color-dark;
        font-weight: normal;
    }
}
