@use '../../../sass/variables' as v;

$app-navigation-header-height-small-screen: 60px;

$app-navigation-top-menu-height-large-screen: 75px;
$app-navigation-contact-info-height-large-screen: 50px;

.navigation-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: v.$background-color-site;
    margin: 0 auto;
    width: 100%;

    .navigation-header {
        background-color: v.$background-color-site;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
        width: 100vw;
        max-width: v.$app-max-width;
        z-index: 1200;

        &.elevated {
            box-shadow:
                0 2px 4px -1px rgba(0, 0, 0, 0.2),
                0 4px 5px 0 rgba(0, 0, 0, 0.14),
                0 1px 10px 0 rgba(0, 0, 0, 0.12);
        }

        @media screen and (max-width: v.$app-width-small-screen) {
            // Small screen
            height: $app-navigation-header-height-small-screen;
            position: fixed;
            width: 100%;
            /* Make sure the toolbar will stay on top of the content as it scrolls past. */
            z-index: 1250;
        }
        @media screen and (min-width: v.$app-width-small-screen) {
            // Large screen
        }

        .navigation-header-small-screen {
            background-color: transparent;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0;
            padding: 0 8px;
            width: 100%;
            min-width: v.$app-min-width;

            @media screen and (max-width: v.$app-width-small-screen) {
                // Small screen
            }
            @media screen and (min-width: v.$app-width-small-screen) {
                // Large screen
                display: none;
            }

            a {
                display: flex;
            }

            .menu-button {
                background: transparent;
                border: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 48px;
                height: 48px;
                border-radius: 50%;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.04);
                }

                .material-icons {
                    font-size: 24px;
                }
            }
        }

        .navigation-header-large-screen {
            background-color: transparent;
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            justify-content: space-between;
            padding: 12px;
            width: 100%;
            @media screen and (max-width: v.$app-width-small-screen) {
                // Small screen
                display: none;
            }
            @media screen and (min-width: v.$app-width-small-screen) {
                // Large screen
            }
            h1 {
                align-items: center;
                background-color: transparent;
                display: flex;
                margin: 0;
                a {
                    background-color: transparent;
                    border: 0;
                    display: flex;
                    font-size: 0em;
                    margin: 0;
                    padding: 0;
                    text-decoration: underline;
                    text-shadow: none;
                }
            }

            .navigation-header-right {
                background-color: transparent;
                display: flex;
                flex-direction: column;
                flex-grow: 4;

                .navigation-contact-info {
                    background-color: transparent;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    font-size: 1.3em;
                    line-height: 50px;
                    padding: 0 32px;
                    text-align: center;
                    .navigation-appointment-button {
                        background-color: v.$background-color-title;
                        color: v.$font-color-light;
                        cursor: pointer;
                    }
                }

                .navigation-top-menu {
                    align-items: flex-end;
                    background-color: transparent;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    font-weight: bold;
                    height: $app-navigation-top-menu-height-large-screen;
                    justify-content: space-around;
                    padding: 9px 0;
                    @media screen and (max-width: v.$app-width-small-screen) {
                        // Small screen
                        display: none;
                    }
                    @media screen and (min-width: v.$app-width-small-screen) {
                        // Large screen
                    }
                    button {
                        box-shadow: none;
                        border: none;
                        background: transparent;
                        color: v.$font-color-dark;
                        display: flex;
                        font-size: 1.3em;
                        font-weight: 400;
                        outline: none;
                        padding: 0 4px;
                        text-align: center;
                        white-space: nowrap;
                        &:hover {
                            transition: all 0.3s ease-in-out;
                            // color: $font-color-dark-hightlight;
                            text-shadow:
                                v.$background-color-card 0 0 3px,
                                #aaaaff 0 0 5px,
                                v.$background-color-title 0 0 25px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .navigation-sidenav-container {
        background-color: v.$background-color-site;
        flex: 1;
        position: relative;

        .navigation-sidenav {
            position: fixed;
            left: 0;
            width: 155px;
            background-color: v.$background-color-card;
            transform: translateX(-100%);
            transition: transform 0.3s ease-in-out;
            z-index: 1100;
            box-shadow:
                0 8px 10px -5px rgba(0, 0, 0, 0.2),
                0 16px 24px 2px rgba(0, 0, 0, 0.14),
                0 6px 30px 5px rgba(0, 0, 0, 0.12);

            @media screen and (max-width: v.$app-width-small-screen) {
                // Small screen - position below header
                top: $app-navigation-header-height-small-screen;
                height: calc(100vh - $app-navigation-header-height-small-screen);
            }
            @media screen and (min-width: v.$app-width-small-screen) {
                // Large screen - sidenav not used, but set positioning anyway
                top: 0;
                height: 100vh;
            }

            &.open {
                transform: translateX(0);
            }

            .navigation-sidenav-list {
                padding: 8px 0 0 0;

                .navigation-sidenav-link {
                    box-sizing: border-box;
                    color: v.$font-color-dark;
                    display: flex;
                    flex-direction: row;
                    font-size: 1.3em;
                    font-weight: 700;
                    height: 48px;
                    line-height: 20px;
                    padding: 14px 16px;
                    text-align: left;
                    text-decoration: none;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.04);
                    }
                }
            }
        }

        .navigation-sidenav-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.6);
            opacity: 0;
            visibility: hidden;
            transition:
                opacity 0.3s ease-in-out,
                visibility 0.3s ease-in-out;
            z-index: 1050;

            &.show {
                opacity: 1;
                visibility: visible;
            }
        }

        .navigation-sidenav-content {
            @media screen and (max-width: v.$app-width-small-screen) {
                margin-top: $app-navigation-header-height-small-screen;
            }
            @media screen and (min-width: v.$app-width-small-screen) {
                margin-top: 0;
            }
        }
    }

    .compass-is-mobile .navigation-sidenav-container {
        /*  When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
            `<body>` to be our scrolling element for mobile layouts. */
        flex: 1 0 auto;
    }

    .navigation-footer {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 0 0 16px 0;
        width: 100%;

        @media screen and (max-width: v.$app-width-small-screen) {
            // Small screen
            background-color: transparent;
        }
        @media screen and (min-width: v.$app-width-small-screen) {
            // Large screen
            background-size: contain;
            background-color: transparent;
            background-image: url('/assets/site-images/footer-horizon.jpg');
            background-position: bottom;
            background-repeat: no-repeat;
        }

        .navigation-footer-address {
            display: flex;
            flex-direction: column;
            margin-bottom: 4px;
            .address {
                font-size: 1.1em;
                line-height: 30px;
            }
        }
        .navigation-footer-map {
            align-items: center;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: v.$app-width-small-screen) {
                // Small screen
                width: 100%;
            }
            @media screen and (min-width: v.$app-width-small-screen) {
                // Large screen
                width: 100%;
                max-width: 465px;
            }
        }
    }
}
