<div class="navigation-container mat-typography">
    <header color="primary" class="navigation-header mat-elevation-z4">
        <h1 class="navigation-header-small-screen">
            <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
                <mat-icon>menu</mat-icon>
            </button>
            <a routerLink="/"><img src="/assets/site-images/CompassLogoSmall.png" alt="Compass Christian Counseling"></a>
            <a routerLink="/"><img src="/assets/site-images/CompassIconSmall.png" alt="Compass Christian Counseling"></a>
        </h1>
        <div class="navigation-header-large-screen">
            <h1><a routerLink="/"><img src="/assets/site-images/CompassLogoAndIcon.png" alt="Compass Christian Counseling"></a></h1>
            <div class="navigation-header-right">
                <div class="navigation-contact-info">
                    <div>(859) 721-3259</div>
                    <button class="navigation-appointment-button" routerLink="/contact-us">Make an Appointment</button>
                </div>
                <div class="navigation-top-menu">
                    <button routerLink="/meet-us">Meet Us</button>
                    <button routerLink="/our-services">Our Services</button>
                    <button routerLink="/faq">FAQ</button>
                    <button routerLink="/getting-started">Getting Started</button>
                    <button routerLink="/resources">Resources</button>
                    <button routerLink="/contact-us">Contact Us</button>
                </div>
            </div>
        </div>
    </header>
    <mat-sidenav-container class="navigation-sidenav-container">
        <mat-sidenav class="navigation-sidenav" #sidenav mode="over" fixedInViewport="true" fixedTopGap="56">
            <mat-nav-list class="navigation-sidenav-list">
                <a class="navigation-sidenav-link" routerLink="/home" (click)=sidenav.toggle()>Home</a>
                <a class="navigation-sidenav-link" routerLink="/meet-us" (click)=sidenav.toggle()>Meet Us</a>
                <a class="navigation-sidenav-link" routerLink="/our-services" (click)=sidenav.toggle()>Our Services</a>
                <a class="navigation-sidenav-link" routerLink="/faq" (click)=sidenav.toggle()>FAQ</a>
                <a class="navigation-sidenav-link" routerLink="/getting-started" (click)=sidenav.toggle()>Getting Started</a>
                <a class="navigation-sidenav-link" routerLink="/resources" (click)=sidenav.toggle()>Resources</a>
                <a class="navigation-sidenav-link" routerLink="/contact-us" (click)=sidenav.toggle()>Contact Us</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="navigation-sidenav-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <footer class="navigation-footer">
        <div class="navigation-footer-address">
            <div class="address">
                Compass Christian Counseling<br />
                651 Perimeter Drive, Suite 115<br />
                Lexington, KY 40517<br />
                (859) 721-3259<br />
            </div>
            <img src="/assets/site-images/contactus-building_267x160.jpg" alt="building" />
        </div>
        <div class="navigation-footer-map">
            <app-gmap class="footer-map"></app-gmap>
        </div>
    </footer>
</div>